
@model  MVCtest.ViewModels.ProductListViewModel

@{
    ViewBag.Title = "Product";
}

@section topCSS {
    @Styles.Render("~/Assest/css/product-list.css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
}


<div class="container-fluid" id="outside">
    <label class="show-menu">
        Show Menu
    </label>
    <div class="drop-list">
        <h3>種類</h3>
        <label><input type="checkbox" name="#" class="filter category-filter" data-category="12101">女性衣服</label>
        <label><input type="checkbox" name="#" class="filter category-filter" data-category="12102">男性衣服</label>
        <label><input type="checkbox" name="#" class="filter category-filter" data-category="12106">鞋子</label>
        <h3>顏色</h3>
        <label><input type="checkbox" name="#" class="filter color-filter" data-color="black">黑色</label>
        <label><input type="checkbox" name="#" class="filter color-filter" data-color="gray">灰色</label>
        <label><input type="checkbox" name="#" class="filter color-filter" data-color="white">白色</label>
        <label><input type="checkbox" name="#" class="filter color-filter" data-color="blue">藍色</label>
        <label><input type="checkbox" name="#" class="filter color-filter" data-color="red">紅色</label>
        <label><input type="checkbox" name="#" class="filter color-filter" data-color="green">綠色</label>
        <label><input type="checkbox" name="#" class="filter color-filter" data-color="yellow">黃色</label>
        <label><input type="checkbox" name="#" class="filter color-filter" data-color="else-color">其他</label>
        <h3>尺寸</h3>
        <label><input type="checkbox" name="#" class="filter size-filter" data-size="S">S</label>
        <label><input type="checkbox" name="#" class="filter size-filter" data-size="M">M</label>
        <label><input type="checkbox" name="#" class="filter size-filter" data-size="L">L</label>

        <h3>價格區間</h3>
        @*<input type="number" name="name" value="" />
        ~
        <input type="number" name="name" value="" />
        <input type="button" name="name" value="" />*@
        <input type="number" name="name" value="" class="price1" id="price1" />
        <i class="fas fa-arrows-alt-h"></i>
        <input type="number" name="name" value="" class="price2" id="price2" />
        <br />
        <input type="button" name="name" value="篩選價格" id="priceBtn" />
        <input type="button" name="name" value="全部重設" id="reset" />


    </div>

    <div class="row mb-5">
        <div class="col-2" id="left-list">
            <h3>種類</h3>
            <label><input type="checkbox" name="#" class="filter category-filter" data-category="12101">女性衣服</label>
            <label><input type="checkbox" name="#" class="filter category-filter" data-category="12102">男性衣服</label>
            <label><input type="checkbox" name="#" class="filter category-filter" data-category="12106">鞋子</label>
            <h3>顏色</h3>
            <label><input type="checkbox" name="#" class="filter color-filter" data-color="black">黑色</label>
            <label><input type="checkbox" name="#" class="filter color-filter" data-color="gray">灰色</label>
            <label><input type="checkbox" name="#" class="filter color-filter" data-color="white">白色</label>
            <label><input type="checkbox" name="#" class="filter color-filter" data-color="blue">藍色</label>
            <label><input type="checkbox" name="#" class="filter color-filter" data-color="red">紅色</label>
            <label><input type="checkbox" name="#" class="filter color-filter" data-color="green">綠色</label>
            <label><input type="checkbox" name="#" class="filter color-filter" data-color="yellow">黃色</label>
            <label><input type="checkbox" name="#" class="filter color-filter" data-color="else-color">其他</label>
            <h3>尺寸</h3>
            <label><input type="checkbox" name="#" class="filter size-filter" data-size="S">S</label>
            <label><input type="checkbox" name="#" class="filter size-filter" data-size="M">M</label>
            <label><input type="checkbox" name="#" class="filter size-filter" data-size="L">L</label>

            <h3>價格區間</h3>
            <input type="number" name="name" value="" class="price1" id="price1" />
            <i class="fas fa-arrows-alt-h"></i>
            <input type="number" name="name" value="" class="price2" id="price2" />
            <br />
            <input type="button" name="name" value="篩選價格" id="priceBtn" />
            <input type="button" name="name" value="全部重設" id="reset" />


        </div>

        <div class="col-10">
            <div class="row mt-3">
                @*目前先這樣 以後可改成PartialView*@

                @foreach (var item in Model.Items)
                {
                    <div class="productItem col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-3" data-category="@item.Category_Id" data-color="black" data-size="M" data-price=@item.UnitPrice id="card">
                        <div class="card">
                            <a href="~/Product/Detail/@item.Product_Id"><img src="@item.Product_Image" class="card-img-top"></a>

                            <div class="card-body">
                                <p class="card-text text-center">@item.Product_Name</p>
                                <p class="card-text text-center" id="money">NTD. @item.UnitPrice</p>
                            </div>
                        </div>
                    </div>
                }
               <div class="productItem" style="display:none;"></div>

                @*<div class="col-3">
                            <img src="images/test-photo001.jpg" class="test">
                            <h5 class="mt-2">拉基長袖</h5>
                            <h5>$1500</h5>
                        </div>
                        <div class="col-3">
                            <img src="images/bg-2.jpg" class="test">
                            <h5 class="mt-2">拉基長袖</h5>
                            <h5>$1500</h5>
                        </div>
                        <div class="col-3">
                            <img src="images/bg-2.jpg" class="test">
                            <h5 class="mt-2">拉基長袖</h5>
                            <h5>$1500</h5>
                        </div>
                        <div class="col-3">
                            <img src="images/bg-2.jpg" class="test">
                            <h5 class="mt-2">拉基長袖</h5>
                            <h5>$1500</h5>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3">
                            <img src="images/bg-2.jpg" class="test">
                            <h5 class="mt-2">拉基長袖</h5>
                            <h5>$1500</h5>
                        </div>
                        <div class="col-3">
                            <img src="images/bg-2.jpg" class="test">
                            <h5 class="mt-2">拉基長袖</h5>
                            <h5>$1500</h5>
                        </div>
                        <div class="col-3">
                            <img src="images/bg-2.jpg" class="test">
                            <h5 class="mt-2">拉基長袖</h5>
                            <h5>$1500</h5>
                        </div>
                        <div class="col-3">
                            <img src="images/bg-2.jpg" class="test">
                            <h5 class="mt-2">拉基長袖</h5>
                            <h5>$1500</h5>
                        </div>
                    </div>*@


            </div>
        </div>
    </div>

</div>
@section endJS {
    <script src="~/Assest/js/productFilter.js"></script>
}
