<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Assest/css/NavTest.css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)
</head>
<body>
    <div class="container-fluid">
       
        <div class="top-menu" id="testnav">
            @*上面橫條*@

            <a href="@Url.Action("Index", "Home")" class="logo">
                <img src="~/Assest/images/style'G.png" id="myPhoto">
            </a>
            <ul class="nav justify-content-around" id="nav">

                @*Start*@
                @Html.Action("Category", "Menu")
                @*END*@

            </ul>
            <div class="user">
                <div class="search-block">
                    <form action="#" class="search">
                        <a href="#">
                            <img src="~/Assest/images/search.png" id="search-img">
                        </a>                     
                        <input type="text" />
                    </form>
                </div>
                <div class="row" id="two-btn">

                    @{
                        if (Convert.ToBoolean(Session["auth"]) == true)
                        {
                            using (Html.BeginForm("Logout", "MemberCenter", FormMethod.Post))
                            {
                                <from>
                                    <a href="~/Home/index" id="logout">
                                        <input type="submit" value="Logout" />
                                    </a>
                                </from>
                            }
                        }
                        else
                        {
                            <a href="~/membercenter/index">
                                <p id="sign"></p>
                            </a>
                        }
                    }

                    @{
                        if (Convert.ToBoolean(Session["auth"]) == true)
                        {
                            <a href="~/Home/memberlist">
                                <p id="sign">@Session["name"]</p>
                            </a>
                            <a href="~/Home/memberlist" class="userhover">
                                <img src="~/Assest/images/profile.png" id="user-img">
                                <div class="useruser">
                                    <div class="rightupuserex">
                                        User Status
                                    </div>
                                </div>
                            </a>

                            <a href="~/Cart/Cart" class="carthover">
                                <img src="~/Assest/images/shopping-cart.png" id="cart-img">
                                <div class="cartcart">
                                    <div class="rightupcart">
                                        YOUR CART
                                        @*ParticialView 簡易購物車內容*@
                                        TOTAL
                                    </div>
                                </div>
                            </a>

                        }
                        else
                        {
                            <a href="~/membercenter/index">
                                <p id="sign">SIGN IN</p>
                            </a>
                            <div class="userdropdown">
                                <a href="~/membercenter/index" class="userhover">
                                    <img src="~/Assest/images/profile.png" id="user-img">
                                </a>
                                <div class="useruser">
                                    <div class="rightupuser">
                                        User Status
                                    </div>
                                </div>
                            </div>
                            

                            <div class="cartdropdown">
                                <a href="~/membercenter/index" class="carthover">
                                    <img src="~/Assest/images/shopping-cart.png" id="cart-img">
                                </a>
                                <div class="cartcart">
                                    <div class="rightupcart">
                                        <div>
                                            <p id="upside">YOUR CART</p>
                                        </div>
                                        <hr />
                                        @*ParticialView 簡易購物車內容*@
                                        <div class="downtotal">
                                            <div>
                                                <p id="downside">TOTAL</p>
                                            </div>
                                            <hr />
                                            <div id="downdiv">
                                                <p id="total">123456</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            
                            
                        }
                    }



                    @*change   btn-mobile刪除*@

                    <a href="javascript:void(0);" class="icon" onclick="openNav()">
                        <i class="fa fa-bars"></i>
                    </a>

                    @*change*@
                </div>
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div class="onBounce">
                        <div class="search-block1">
                            <form action="#" class="search1">
                                <a href="#">
                                    <img src="~/Assest/images/layout_image/search-3-32.png" id="search-img">
                                </a>
                                <input type="text" placeholder="Search" />
                            </form>
                        </div>
                    </div>

                    

                    <a href="#" class="a1">NEW IN</a>
                    <ul class="hidden1">
                        @*之後會變成foreach資料庫category*@
                        <li>
                            <a href="#">test1</a>
                        </li>
                        <li>
                            <a href="#">test2</a>
                        </li>
                        <li>
                            <a href="#">test3</a>
                        </li>
                    </ul>
                    <a href="#" class="a2">CLOTHES</a>
                    <ul class="hidden2">
                        @*之後會變成foreach資料庫category*@
                        <li>
                            <a href="#">test1</a>
                        </li>
                        <li>
                            <a href="#">test2</a>
                        </li>
                        <li>
                            <a href="#">test3</a>
                        </li>
                    </ul>
                    <a href="#" class="a3">PANTS</a>
                    <ul class="hidden3">
                        @*之後會變成foreach資料庫category*@
                        <li>
                            <a href="#">test1</a>
                        </li>
                        <li>
                            <a href="#">test2</a>
                        </li>
                        <li>
                            <a href="#">test3</a>
                        </li>
                    </ul>
                    <a href="#" class="a4">SHOES</a>
                    <ul class="hidden4">
                        @*之後會變成foreach資料庫category*@
                        <li>
                            <a href="#">test1</a>
                        </li>
                        <li>
                            <a href="#">test2</a>
                        </li>
                        <li>
                            <a href="#">test3</a>
                        </li>
                    </ul>

                </div>

            </div>

            

        </div>
       
        <div class="idk">
            @RenderBody()
        </div>
        <div class="container">
            <div class="footer mt-5">
                <div class="row justify-content-around  mb-5">
                    <div class="col-lg-4  col-sm-12 mt-sm-5" id="contact">

                        <div>
                            <a href="#" id="">
                                <img src="~/Assest/images/line.png">
                            </a>

                            <a href="#" id="">
                                <img src="~/Assest/images/instagram.png">
                            </a>

                            <a href="#" id="">
                                <img src="~/Assest/images/facebook-logo.png">
                            </a>

                        </div>
                        <div>
                            <p>© 2019 eyescream all rights reserved </p>
                        </div>

                    </div>
                    <div class="col-lg-4  col-sm-6 col-xs-12 mt-sm-5 mt-xs-5">
                        <div class="footer-title">
                            <h2>Contact Us</h2>
                        </div>
                        <div class="footer-body">
                            <h5>客服信箱:abc@gmail.com</h5>
                            <h5>客服專線:0912-345678</h5>
                            <h5>服務時間:週一至週五 08:30 ~ 20:30</h5>
                        </div>
                    </div>
                    <div class="col-lg-4  col-sm-6 col-xs-12 mt-sm-5 mt-xs-5">
                        <form action="#" class="send-email">
                            <div class="email-sub mt-3">
                                <input id="sub-email" type="text" placeholder="e-mail" />
                                <div class="subscribe mt-4">
                                    <button class="subscribe-btn">Subscribe</button>
                                </div>
                            </div>
                        </form>

                    </div>


                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!-- <script> -->
    
    @Scripts.Render("~/Assest/js/NavJS.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
</body>
</html>
