@model IEnumerable<MVCtest.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>訂單資料</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Customer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment.Payment_Name)
        </th>
        <th>
            Shipper
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Setting
        </th>
    </tr>

@*<<<<<<< HEAD
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Customer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment.Payment_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipper.Shipper_Method_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Order_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Order_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Order_ID })
        </td>
    </tr>
}
=======*@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Customer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.Payment_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shipper.Shipper_Method_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @*@using (Html.BeginForm("EditStatus", "OrdersCRUD", FormMethod.Post))
        {
            <form>
                    <input type="hidden" class="form-control" name="Order_ID" required="true" style="color:black;" value="@Html.DisplayFor(modelItem => item.Order_ID)">
                    <input type="hidden" class="form-control" name="Status" required="true" style="color:black;" value="已出貨">
                    <button id="btn-signup" type="submit" class="btn btn-info">
                        已出貨
                    </button>
                </form>
                }*@
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Html.DisplayFor(modelItem => item.Status)
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @using (Html.BeginForm("EditStatus", "OrdersCRUD", FormMethod.Post))
                        {
                            <form>
                                <input type="hidden" class="form-control" name="Order_ID" required="true" style="color:black;" value="@Html.DisplayFor(modelItem => item.Order_ID)">
                                <input type="hidden" class="form-control" name="Status" required="true" style="color:black;" value="已出貨">
                                @*<a class="dropdown-item" href="#" name="Status" type="submit">已出貨</a>*@
                                <input class="dropdown-item" type="submit" value="已出貨" />
                            </form>

                        }
                        @using (Html.BeginForm("EditStatus", "OrdersCRUD", FormMethod.Post))
                        {
                            <form>
                                <input type="hidden" class="form-control" name="Order_ID" required="true" style="color:black;" value="@Html.DisplayFor(modelItem => item.Order_ID)">
                                <input type="hidden" class="form-control" name="Status" required="true" style="color:black;" value="未出貨">
                                @*<a class="dropdown-item" href="#" name="Status" type="submit">已出貨</a>*@
                                <input class="dropdown-item" type="submit" value="未出貨" />
                            </form>
                        }
                    </div>
                </div>

            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Order_ID }) |
        @Html.ActionLink("Details", "Details", new { id=item.Order_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Order_ID })*@
            </td>
        </tr>
    }


</table>
