@model List<MVCtest.ViewModels.CartViewModel>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_shop.cshtml";
}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- cart section end -->
<section class="cart-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-table">
                    <h3>Your Cart</h3>
                    <div class="cart-table-warp">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-th">商品圖片</th>
                                    @*<th class="product-th">商品名稱</th>*@
                                    <th class="size-th">編號</th>
                                    <th class="size-th">規格</th>
                                    <th class="total-th">單價</th>

                                    <th class="quy-th">數量</th>
                                    @*<th class="total-th">小計</th>*@

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model) {
                                    <tr>
                                        <td class="product-col">
                                            <img src="@item.ProductImage" alt="商品圖片">
                                            <div class="pc-title">
                                                <h4>@item.ProductName</h4>
                                                <p>$45.90</p>
                                            </div>
                                        </td>
                                        <td class="size-col"><h6>@item.ProductNo</h6></td>
                                        <td class="size-col"><h4>@item.Size</h4></td>
                                        <td class="total-col"><h4>$@item.Unitprice</h4></td>
                                        <td class="quy-col">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="1">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="total-col">
                                            <form class="c_8" action="/shopCart/DeleteCart" method="post">
                                                @*<button id="delect" name="delete" class="btn btn-default btn-sm"></button>*@
                                                <button id="delect" name="delete" style="font-size:5px"><i class="fa fa-trash-o"></i></button> 
                                                <input type="hidden" name="cartID" value="@item.CartId" />
                                            </form>
                                        
                                        </td>
                                    </tr>
                                }

                                
                            </tbody>
                        </table>
                    </div>
                    <div class="total-cost">
                        <h6>Total <span>$99.90</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 card-right">
                <form class="promo-code-form">
                    <input type="text" placeholder="Enter promo code">
                    <button>Submit</button>
                </form>
                <a href="" class="site-btn">Proceed to checkout</a>
                <a href="" class="site-btn sb-dark">Continue shopping</a>
            </div>
        </div>
    </div>
</section>
<!-- cart section end -->
