@model List<MVCtest.ViewModels.OrderDetailViewModel>
@{
    ViewBag.Title = "GetOrderDetail";
    Layout = null;
}


<div class="container-fluid text-center">
    <h1>訂單編號:@Model[0].orderId</h1>
    <table>
        <thead>
            <tr>
                <th>產品名稱</th>
                <th>顏色</th>
                <th>尺寸</th>
                <th>單價</th>
                <th>數量</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var i in Model)
            {
                <tr>
                    <td>@i.productName</td>
                    <td>@i.color</td>
                    <td>@i.size</td>
                    <td>@i.unitPrice</td>
                    <td>@i.quantity</td>
                </tr>
            }
        </tbody>

    </table>
</div>