@model MVCtest.ViewModels.OrderTrackingListViewModel
@{
    ViewBag.Title = "history_order";
}

@section topCSS {
    <style>
        .col-2 {
            /*background-color: azure;*/
            border: none;
            /*border-right: 1px solid black;*/
            height: 800px;
        }

        .col-10 {
            /*background-color: burlywood;*/
            height: 800px;
        }

        #left-list ul {
            margin-top: 40px;
            list-style: none;
        }

        #left-list li {
            margin-top: 15px;
            margin-left: 20px;
        }

        .btn.btn-edit,
        .btn.btn-cancel {
            font-size: 15px;
            padding: 0 1.5em;
            height: 37px;
            line-height: 37px;
            color: #3c3d41;
            background-color: transparent;
            border: 1px solid #5b5b5b;
            border-radius: 4px;
        }

            .btn.btn-edit:hover,
            .btn.btn-cancel:hover {
                background: #222;
                box-shadow: none;
                color: white;
            }
        .order_tracking {
            display: block;
            text-align: center;
        }
            .order_tracking h3 {
                margin-top: 15px;
            }

        .order_title {
            display: block;
            height: 40px;
            background: #636262;
            border-bottom: 2px solid #555;
            color: #fafafa;
            margin-top:20px;
        }

        #col-name {
            display: flex;
            line-height: 40px;
        }

        .detail {
            text-align:center;
        }

        .card {
            height:120px;
        }

        .card-item {
            display: flex;
            line-height: 120px;
        }

        .card-detail {
            text-align:center;
                
        }

        #top_center h3{
            text-align:left;
        }

        #top_select {
            height:30px;
            display:flex;
        }
         
        #top_select .col-6 p {
            font-size:25px;
            line-height:30px;
            text-align:center;
            width:auto;
        }

        #top_select p {
            font-size:20px;
        }
        

    </style>
}
@*<div class="container-fluid">
    <div class="row">
        <div class="col-2" id="left-list">
            <ul>
                <h3>會員中心</h3>
                <a href="~/Home/memberlist" style="text-decoration: none; color:black;">
                    <li>修改會員資料</li>
                </a>

                <a href="~/Home/history_order" style="text-decoration: none; color:black;">
                    <li>訂單查詢</li>
                </a>

                <a href="#" style="text-decoration: none; color:black;">
                    <li>常見問題</li>
                </a>


            </ul>


        </div>*@
        <div class="container">
            <div class="col-12 mt-3" id="top_center">
                <h3>Member Center</h3>
            </div>
            <div class="col-12 mt-3" id="top_select">

                <div class="col-6" id="edit">
                    <a href="~/Home/memberlist" style="text-decoration: none; color:black;" id="edit_account">
                        <p>Edit Account</p>
                    </a>
                </div>
                <p>|</p>
                <div class="col-6" id="order">
                    <a href="~/Home/history_order" style="text-decoration: none; color:black;" id="order_tracking">
                        <p>Order Tracking</p>
                    </a>
                </div>
            </div>
            <div class="col-12 mb-5">

                <div class="order_title">
                    <div class="col-md-12" id="col-name">
                        <div class="detail col-md-2">訂單編號</div>
                        <div class="detail col-md-2">訂單成立時間</div>
                        <div class="detail col-md-2">付款方式</div>
                        <div class="detail col-md-2">總金額</div>
                        <div class="detail col-md-2">訂單狀態</div>
                        <div class="detail col-md-2">訂單明細</div>

                    </div>
                </div>
                @*PartialView 歷史訂單資訊*@
                @foreach (var item in Model.Items)
                {
                    <div class="card">
                        <div class="card-item col-md-12">
                            <div class="card-detail col-md-2">@item.OrderId</div>
                            <div class="card-detail col-md-2">@item.OrderDate</div>
                            <div class="card-detail col-md-2">@item.Payment</div>
                            <div class="card-detail col-md-2">NTD. @item.Price</div>
                            <div class="card-detail col-md-2">@item.OrderState</div>
                            <div class="card-detail col-md-2"><a href="@Url.Action("GetOrderDetail","Home",new {orderId=item.OrderId })" target="_blank">點此查看</a></div>
                        </div>
                    </div>
                }
            </div>
        </div>
       
    @*</div>
</div>*@
@section endJS{
    <script>
        $("#edit_account").hover(function() {
            $("#edit p").css("color", "#737373");
        }, function () {
            $("#edit p").css("color", "black");
        })

        $("#order_tracking").hover(function () {
            $("#order p").css("color", "#737373");
        }, function () {
            $("#order p").css("color", "black");
        })
    </script>

    @*@if (TempData["message"] != null)
    {
        <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
        </script>
    }*@

}


