
@{
    ViewBag.Title = "memberlist";
}
@section topCSS {
    <style>
        .col-2 {
            /*background-color: azure;*/
            border: none;
            /*border-right:1px solid black;*/
            height: 800px;
        }

        .col-10 {
            /*background-color: burlywood;*/
            height: 800px;
        }

        #left-list ul {
            margin-top: 40px;
            list-style: none;
        }

        #left-list li {
            margin-top: 15px;
            margin-left: 20px;
        }

        .btn.btn-edit,
        .btn.btn-cancel {
            font-size: 15px;
            padding: 0 1.5em;
            height: 37px;
            line-height: 37px;
            color: #3c3d41;
            background-color: transparent;
            border: 1px solid #5b5b5b;
            border-radius: 4px;
        }

            .btn.btn-edit:hover,
            .btn.btn-cancel:hover {
                background: #222;
                box-shadow: none;
                color: white;
            }

        .col-10 fieldset {
            border: 1px solid #d2d2d2;
            padding: 10px;
        }

        .order_tracking {
            display: block;
            text-align: center;
        }

            .order_tracking h3 {
                margin-top: 15px;
            }

        .order_title {
            display: block;
            height: 40px;
            background: #636262;
            border-bottom: 2px solid #555;
            color: #fafafa;
            margin-top: 20px;
        }

        #col-name {
            display: flex;
            line-height: 40px;
        }

        .detail {
            text-align: center;
        }

        .card {
            height: 120px;
        }

        .card-item {
            display: flex;
            line-height: 120px;
        }

        .card-detail {
            text-align: center;
        }

        #top_center h3 {
            text-align: left;
        }

        #top_select {
            height: 30px;
            display: flex;
            /*padding-bottom:10px;
            margin-bottom:10px;
            border-bottom: 1px solid black;*/
        }

            #top_select .col-6 p {
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                width: auto;
            }

            #top_select p {
                font-size: 20px;
            }

        #change_account .row {           
            margin-top:20px;
            border-top: 1px solid black;
        }

        .fieldset label {
            font-size:25px;
        }
        
    </style>
}
<div class="container">
    <div class="col-12" id="top_center">
        <h3>會員中心</h3>
    </div>
    <div class="col-12" id="top_select">

        <div class="col-6" id="edit">
            <a href="~/Home/memberlist" style="text-decoration: none; color:black;" id="edit_account">
                <p>Edit Account修改會員資料</p>
            </a>
        </div>
        <p>|</p>
        <div class="col-6" id="order">
            <a href="~/Home/history_order" style="text-decoration: none; color:black;" id="order_tracking">
                <p>Order Tracking 訂單查詢</p>
            </a>
        </div>
    </div>
    <div class="col-12" id="change_account">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-md-6 mt-5">
                <fieldset>
                    @using (Html.BeginForm("Updatemember", "Home", FormMethod.Post))
                    {

                        <form>
                            @*<h3>Edit Account 修改會員資料</h3>*@

                            <div class="form-group">
                                <input type="hidden" name="Customer_ID" value="@ViewBag.ID" />
                                <input type="hidden" name="Customer_Email" value="@ViewBag.Email" />
                                <label>會員帳號</label><br>
                                <input type="text" name="Customer_Email" disabled="disabled" value="@ViewBag.Email" class="form-control">

                            </div>
                            <div class="form-group">
                                <label>會員密碼</label><br>
                                <input type="text" name="User_Password" value="" class="form-control" required="true">

                            </div>
                            <div class="form-group">
                                <label>會員姓名</label><br>
                                <input type="text" name="Customer_Name" value="@ViewBag.Name" class="form-control" required="true">
                            </div>
                            <div class="form-group">
                                <label>會員電話</label><br>
                                <input type="text" name="Customer_Phone" value="" class="form-control" required="true">
                            </div>



                            <div class="section-member-submit">
                                <div class="form-group clearboth">

                                    <input id='epaper' name="epaper" type='checkbox' />
                                    <label for='epaper' class="epaper"><span></span>我願意收到STYLE'G電子報</label>
                                </div>
                                <div class="form-group txt-right">
                                    <!--  onclick="document.form1.reset()" -->
                                    <input type="submit" class="btn btn-edit" value="確認修改" />
                                    <!--  onclick="if(checkData(this)){document.form1.submit();}" -->
                                    <a href="#" class="btn btn-edit">取消</a>
                                </div>

                            </div>
                        </form>
                    }
                </fieldset>
            </div>
            <div class="col-3"></div>
        </div>
        
    </div>
</div>
@section endJS{
    <script>
        $("#edit_account").hover(function () {
            $("#edit p").css("color", "#737373");
        }, function () {
            $("#edit p").css("color", "black");
        })

        $("#order_tracking").hover(function () {
            $("#order p").css("color", "#737373");
        }, function () {
            $("#order p").css("color", "black");
        })
    </script>
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
        </script>
    }

}
